/* Global reset for body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;  /* Light gray background */
  }
  
  
  #root {
    display: flex;
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
    height: 100%;
    flex-direction: column;  /* Stack elements vertically */
  }
  
  /* Basic style for headings */
  h1 {
    color: #333;
    font-size: 2em;
    margin: 20px 0;
  }
  
  /* General button styles */
  button {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #0077b6;  /* Blue background */
    color: white;
    transition: background-color 0.3s ease;  /* Smooth transition for hover */
  }
  
  button:hover {
    background-color: #005f80;  /* Darker blue on hover */
  }
  
  button:disabled {
    cursor: not-allowed;
    background-color: #ccc;  /* Gray out disabled buttons */
  }
  
  /* Styles for pagination controls */
  .pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  /* Input field styles */
  input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    width: 250px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  input[type="text"]:focus {
    border-color: #0077b6;
    outline: none;
  }
  